# Predicting Income class

![Gif for money](https://media.giphy.com/media/67ThRZlYBvibtdF9JH/giphy.gif)

Source: https://media.giphy.com/media/67ThRZlYBvibtdF9JH/giphy.gif

In [29]:

library(tidyverse)
library(repr)
library(tidymodels)
#options(repr.matrix.max.rows = 6)
SEED <- 2020

In [30]:
income_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
                       col_names = c("age",
                                        "workclass",
                                        "fnlwgt",
                                        "education",
                                        "eduation_num",
                                        "marital_status",
                                        "occupation",
                                        "relationship",
                                        "race",
                                        "sex",
                                        "capital_gain",
                                        "capital_loss",
                                        "hours_per_week",
                                        "native_country",
                                        "income"))
head(income_data)

Rows: 32561 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): workclass, education, marital_status, occupation, relationship, rac...
dbl (6): age, fnlwgt, eduation_num, capital_gain, capital_loss, hours_per_week

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age workclass        fnlwgt education eduation_num marital_status
1 39  State-gov         77516 Bachelors 13           Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13           Married-civ-spouse
3 38  Private          215646 HS-grad    9           Divorced
4 53  Private          234721 11th       7           Married-civ-spouse
5 28  Private          338409 Bachelors 13           Married-civ-spouse
6 37  Private          284582 Masters   14           Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours_per_week native_country income
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

In [34]:
set.seed(SEED)
income_split <-  initial_split(income_data, prop=0.75, strata = income)
income_testing <- testing(income_split)

In [35]:
income_training <- training(income_split) |>
                    mutate(workclass = as.factor(workclass),
                           education = as.factor(education),
                           marital_status = as.factor(marital_status),
                           occupation = as.factor(occupation),
                           relationship = as.factor(relationship),
                           race = as.factor(race),
                           sex = as.factor(sex),
                           native_country = as.factor(native_country),
                           income = as.factor(income)) |>
                    sample()

head(income_training)
#slice(income_training,1)

  race  income hours_per_week age workclass fnlwgt eduation_num education
1 White <=50K  40             39  State-gov  77516 13           Bachelors
2 White <=50K  40             38  Private   215646  9           HS-grad
3 Black <=50K  40             53  Private   234721  7           11th
4 Black <=50K  40             28  Private   338409 13           Bachelors
5 White <=50K  40             37  Private   284582 14           Masters
6 Black <=50K  16             49  Private   160187  5           9th
  relationship  occupation        capital_gain native_country capital_loss
1 Not-in-family Adm-clerical      2174         United-States  0
2 Not-in-family Handlers-cleaners    0         United-States  0
3 Husband       Handlers-cleaners    0         United-States  0
4 Wife          Prof-specialty       0         Cuba           0
5 Wife          Exec-managerial      0         United-States  0
6 Not-in-family Other-service        0         Jamaica        0
  sex    marital_status
1 Male   Never-married
2 Male   Divorced
3 Male   Married-civ-spouse
4 Female Married-civ-spouse
5 Female Married-civ-spouse
6 Female Married-spouse-absent